absl-py>=0.4
astor
bleach
cycler>=0.10.0
dill>=0.2.7.1
gast
grpcio
html5lib
kiwisolver
Markdown
matplotlib
numpy
opencv-python>=3.4.3.18
protobuf>=3.6.1
pyparsing
python-dateutil
pytz
scipy
six
sklearn
termcolor
Werkzeug
nvtx-plugins
